@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    height: 1vh;
    width: .5vw;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: black;
}